<!DOCTYPE html>
<html>
<head>
	<title>Postal Rate Result</title>
</head>
<body>
	<h1>Postal Rate Result</h1>
	<p>The rate for "<%= type %>" with a weight of <%= weight %> oz. is $<%= result.toFixed(2) %>.</p>
</body>
</html>